{{ define "main" }}
<div class="container mx-auto px-4 py-12">
    <h1 class="text-5xl font-bold mb-8 text-text-primary-dark">{{ .Title }}</h1>
    {{ partial "breadcrumb" .}}
    <div class="text-xl py-5" id="markdown">
    {{ .Content }}
    </div>
    <br>
    <div class="space-y-6">
        {{ range .Pages }}
        <article class="border border-border-primary-dark rounded-lg p-6  bg-neutral-800">
            <h2 class="text-3xl font-semibold mb-2">
                <a href="{{ .RelPermalink }}" class="text-accent-dark hover:text-text-primary-dark">{{ .Title }}</a>
            </h2>
            {{ with .Params.tags }}
                {{ $tags := . }}

                {{ if not (reflect.IsSlice $tags) }}
                    {{ $tags = slice $tags }}
                {{ end }}

                {{ range $i, $e := $tags}}
                    {{ if $i }} - {{ end }}
                    <span class="bg-bg-tertiary-dark rounded-md font-medium text-text-secondary-dark">{{ $e }}</span>
                {{ end }}
            {{ end }}
        </article>
        {{ end }}
    </div>
</div>
{{ partial "markdown_stylise" . }}
{{ end }} 