{{ define "main" }}
<div class="w-4/5 mx-auto py-12">
    <div class="max-w-4xl mx-auto p-8 border border-border-primary-dark rounded-2xl bg-neutral-800">
        <h1 class="text-5xl font-bold mb-4 text-text-primary-dark text-green-500">{{ .Title }}</h1>
        {{ if eq .Section "writeups" }}
            {{ partial "breadcrumb" .}}
            {{ if .Params.tags }}
            <div class="flex items-center gap-4 mb-8 text-text-secondary-dark">
                <div class="flex gap-2 text-lg">
                    Tags: 
                    {{ with .Params.tags }}
                        {{ range $i, $e := .}}
                            {{ if $i }}- {{ end }}
                    <span class="bg-bg-tertiary-dark rounded-md font-medium text-text-secondary-dark">{{ $e }}</span>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        {{ end }}
        
        <article class="max-w-none" id="markdown">
            {{ .Content }}
        </article>
    </div>
</div>
{{ partial "markdown_stylise" . }}
{{ end }} 