@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #121212;
    color: #ffffff;
}

.experience-timeline {
    position: relative;
}

.experience-timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #333;
} 