<script>
    // Add classes to markdown text, so they can be styled with tailwind
    function load_classes() {
        markdown_article = document.getElementById("markdown");
        children = [...Array.from(markdown_article.children)]

        children.forEach((item) => {
            switch(item.nodeName) {
                case "P":
                    item.classList.add("text-lg");
                    break;
                case "H1":
                    item.classList.add("text-5xl", "font-bold", "mb-4", "mt-4", "text-green-500");
                    break;
                case "H2":
                    item.classList.add("text-4xl", "font-bold", "mb-3", "mt-3", "text-green-400");
                    break;
                case "H3":
                    item.classList.add("text-3xl", "font-bold", "mb-2", "mt-2", "text-green-300");
                    break;
                case "H4":
                    item.classList.add("text-2xl", "font-bold", "mb-1", "mt-1", "text-green-200");
                    break;
                case "UL":
                    item.classList.add("text-lg", "marker:text-green-300", "list-disc", "marker:content-['>>__']", "pl-9", "mb-2", "mt-2");
                    break;
                case "OL":
                    item.classList.add("text-lg", "marker:text-green-300", "list-decimal", "marker:content-[counter(list-item)'.__']", "pl-9", "mb-2", "mt-2");
                    break;
                case "DIV":
                    item.classList.add("text-lg", "mb-4", "mt-4");
                    if (item.classList.contains("highlight")) {
                        code_block = item.children[0].children[0];

                        lang = code_block.getAttribute("data-lang");

                        lang_label = document.createElement("div");
                        lang_label.classList.add("absolute", "top-0", "right-0", "text-stone-400", "px-2", "py-1", "text-base", "font-semibold", "rounded-br-md");
                        label = document.createTextNode(lang);
                        lang_label.appendChild(label);

                        code_block.appendChild(lang_label);
                        code_block.classList.add("relative");
                    }
                    break;
            }

            if (item.nodeName != "P" || item.children.length == 0) return;

            actual = item.children[0];

            switch(actual.nodeName) {
                case "CODE":
                    actual.classList.add("text-violet-300", "bg-gray-900", "px-1", "py-1");
                    break;
                case "A":
                    actual.classList.add("animated-link", "text-teal-300", "text-shadow-md", "font-medium", "text-fg-brand");
                    break;
                case "IMG":
                    actual.classList.add("mb-3", "mt-3", "relative", "left-1/2", "transform", "-translate-x-1/2");
                    break;
            }
        });
    }
   
    load_classes()

</script>